RECOVERED_FILES
*.gitignore
*.h64pak
*~
*.swp
*.swo
*.o
*.oxx
*.bin
*.exe
/horsec
/binaries/
/releases/
/libwinpthread-1.dll
/doc-output/
/doc/ldoc.css
/doc/logo.png
/.testdata.txt
/testdata.h64
/.testdata-prj
/vendor/*
/demo-assets/packaged-fonts/
!/vendor/siphash.c
!/vendor/openssl
!/vendor/unicode
!/vendor/miniz
/vendor/unicode/unicode_data_header.h
/horse_modules_builtin/unicode_data__*
/vendor/unicode/unicode_data__*
