[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl
    ignore = untracked
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz
    ignore = untracked
[submodule "vendor/mtwister"]
	path = vendor/mtwister
	url = https://github.com/ell1e/mtwister
    ignore = untracked
