[submodule "vendor/physfs"]
	path = vendor/physfs
	url = https://github.com/criptych/physfs
    ignore = untracked
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl
    ignore = untracked
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz
