RECOVERED_FILES
*.gitignore
*.h3dpak
*~
*.swp
*.swo
*.o
*.oxx
*.bin
*.exe
/horsecc
/releases/
/libwinpthread-1.dll
/doc-output/
/doc/ldoc.css
/doc/logo.png
/.testdata.txt
/vendor/*
/demo-assets/packaged-fonts/
!/vendor/ldoc.css
!/vendor/packaged-fonts/
!/vendor/libwinpthread-1.dll
!/vendor/SDL-mirror
!/vendor/mathc
!/vendor/lua-upstream
!/vendor/siphash.c
!/vendor/SDL_gles2funcs.h
!/vendor/stb
!/vendor/SDL_ttf
!/vendor/freetype2
!/vendor/miniaudio
!/vendor/bullet3
!/vendor/Handmade-Math
!/vendor/dr_libs
